apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
- ../../base/cilium
- bgp.yaml
- cilium-load-balancer-ip-pool.yaml
- cilium-announce-policy.yaml
- cilium-node-config/kube1.yaml
patchesStrategicMerge:
- release.yaml
configMapGenerator:
- name: cilium-values-cluster1
  files:
  - values.yaml=values.yaml
