k8sServiceHost: "192.168.0.144"
k8sServicePort: "6443"

l2announcements:
  enabled: true

l2podAnnouncements:
  enabled: true
  interface: "br0"

cluster:
  name: "cluster1"
  id: 1

ipv4NativeRoutingCIDR: 10.0.0.0/9
