cat <<'EOF'
nix develop --command nix build .#nixosConfigurations.nixos-systemd.config.system.build.tarball --show-trace
docker import result/tarball/nixos-system-x86_64-linux.tar.xz nixos-systemd
EOF
