CLUSTER_NAME="cluster2"
export CLUSTER_NAME

REMOTE_CLUSTER_NAME="cluster1"
export REMOTE_CLUSTER_NAME

REMOTE_CLUSTER_ADDRESS="192.168.25.2"
export REMOTE_CLUSTER_ADDRESS

REMOTE_CLUSTER_PORT="32379"
export REMOTE_CLUSTER_PORT

KUBECONFIG=/home/oleg/.kube/config-host1-k3s
export KUBECONFIG
