apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openvpn-wugi-info
resources:
- ../../base/openvpn
patchesStrategicMerge:
- deployment.yaml
configMapGenerator:
- name: openvpn-configuration
  files:
  - openvpn.conf=openvpn.conf
