/dotfiles/maintenance/github/terraform.tfstate.backup
/dotfiles/maintenance/github/terraform.tfstate
/dotfiles/maintenance/github/.terraform
/tmp-cache
/test-tmp/
/bin/xmenu.sh
/dot_muttrc_zabbix.guix_yandex.tmpl
/dot_muttrc_asfjsdf_mail.tmpl
/dot_muttrc_houdinihar_yandex.tmpl
/dot_muttrc_jenkins_majordomo.tmpl
/dot_muttrc_pyhalov_majordomo.tmpl
/dot_muttrc_rxaetbed_mail.tmpl
/dotfiles/idesk/*.lnk
*.qcow2
*.tfstate
*.tfstate.backup
/guix/dot_config/espanso/user/censor.yml
/guix/dot_config/transmission/
/guix/dot_config/wayvnc/config
/guix/dot_config/wayvnc/tls_cert.pem
/guix/dot_config/wayvnc/tls_key.pem
/guix/dotfiles/etc/ssl/ca.pem
/guix/dotfiles/etc/yggdrasil-private.conf
/guix/dotfiles/guixsd/exim/
/guix/dotfiles/mjru/intr.json
/guix/private_dot_emacs.d/modules/mjru-network.el
/guix/wugi/etc/mjru/
/guix/wugi/home/config/openssh.scm
/nix/yggdrasil/yggdrasil.conf
/dotfiles/nix/openvpn/ca.crt
/dotfiles/nix/openvpn/client.crt
/dotfiles/nix/openvpn/client.key
/missing
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/src/emacs/benchmark/benchmark.el
/src/guile/format-yaml/format-yaml
/src/guile/git-fetch-remotes/git-fetch-remotes
/src/guile/guix-guile-next-compile-file/guix-guile-next-compile-file
/src/bash/guile-clean-modules/guile-clean-modules.sh
/*.dot
