set realname = "rxaetbed rxaetbed"
set from = rxaetbed@mail.ru
set use_from = yes

set imap_user = rxaetbed@mail.ru
set imap_pass = {{ pass "mail.ru/rxaetbed@mail.ru" }}
set smtp_url = smtp://smtp.mail.ru:465/
set smtp_pass = {{ pass "mail.ru/rxaetbed@mail.ru" }}
set smtp_authenticators = 'login'

set ssl_starttls = yes
set ssl_force_tls = yes

set folder = imaps://imap.mail.ru:993
set spoolfile = +INBOX
set record = =Отправленные