set realname = "Александр Великин"
set from = houdinihar@yandex.ru
set use_from = yes

set imap_user = houdinihar@yandex.ru
set imap_pass = {{ pass "email/yandex.ru/houdinihar" }}
set smtp_url = smtp://smtp.yandex.ru:465/
set smtp_pass = {{ pass "email/yandex.ru/houdinihar" }}
set smtp_authenticators = 'login'

set ssl_starttls = yes
set ssl_force_tls = yes

set folder = imaps://imap.yandex.ru:993
set spoolfile = +INBOX
set record = =Отправленные