set realname = "Oleg Pykhalov"

set from = wigust@wugi.info
set smtp_pass = {{ pass "localhost/imap/oleg" }}
set smtp_url = smtps://smtp.wugi.info
set use_from = yes

set folder = imaps://smtp.wugi.info
set imap_pass = {{ pass "localhost/imap/oleg" }}
set imap_user = wigust@wugi.info
set spoolfile = +INBOX
