set realname = "Oleg Pykhalov"
set from = <go.wigust@gmail.com>
set use_from = yes

set imap_user = oleg
set imap_pass = {{ pass "localhost/imap/oleg" }}

set folder = imap://localhost
set spoolfile = +INBOX
