# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

# Gmail
account        gmail
host           smtp.gmail.com
port           587
from           go.wigust@gmail.com
user           go.wigust
password       {{ pass "email/gmail/go.wigust" }}

# Set a default account
account default : gmail