machine api.github.com
login wigust
password {{ pass "github/tokens/api/wigust" }}

machine uploads.github.com
login wigust
password {{ pass "github/tokens/api/wigust" }}

machine imap.yandex.ru
login houdinihar
password {{ pass "email/yandex.ru/houdinihar" }}

machine imap.rambler.ru
login houdinihar
password {{ pass "email/rambler/houdinihar" }}

machine imap.majordomo.ru
login pyhalov
password {{ pass "majordomo/private/newmail.majordomo.ru/pyhalov@majordomo.ru" }}

machine localhost
login oleg
password {{ pass "localhost/imap/oleg" }}

machine bareos.intr
login netcfg
password {{ pass "majordomo/public/172.16.103.111/netcfg" }}

machine pop3.hoster24.ru
login pop3
password {{ pass "majordomo/public/hoster24.ru/pop3" }}

machine 172.16.103.111
login netcfg
password {{ pass "majordomo/public/172.16.103.111/netcfg" }}