[user]
	email = go.wigust@gmail.com
	name = Oleg Pykhalov
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = go.wigust@gmail.com
	smtpServerPort = 587
	assume8bitEncoding = UTF-8
[commit]
	gpgsign = true
[user]
	signingKey = 167F8EA5001AFA9C
[url "https://github.com/"]
	insteadOf = git@github.com:
[alias]
	branches-by-date = for-each-ref --sort=-committerdate refs/heads
        contributers = shortlog -sne
        ll= log --format='%H %ae %cI %s'
	lll= log --format='%ai %H %s'
[github]
	user = wigust
[gitlab]
	user = wigust
[secrets]
	providers = pass show email/gmail/go.wigust
        providers = pass show majordomo/redmine.intr/pyhalov
        providers = pass show hms.majordomo.ru/ac_208112
        providers = pass show majordomo/mjru.slack.com/pyhalov@majordomo.ru
