(use-modules (gnu))
(use-service-modules networking ssh)

(operating-system
  (host-name "gnu")
  (timezone "Europe/Moscow")
  (locale "en_US.utf8")
  (bootloader (bootloader-configuration
                (bootloader grub-bootloader)
                (target "/dev/vda")))
  (mapped-devices (list (mapped-device
                         (source "vg0")
                         (targets '("vg0-guix"))
                         (type lvm-device-mapping))))
  (file-systems (append (list (file-system
                                (device "/dev/mapper/vg0-guix")
                                (mount-point "/")
                                (dependencies mapped-devices)
                                (type "ext4")))
                        %base-file-systems))
  (users (append (list (user-account
                        (name "user")
                        (comment "Unprivileged user")
                        (group "users")
                        (supplementary-groups '("wheel" "audio" "video"))
                        (password (crypt "password" "$6$abc")))
                       (user-account (inherit %root-account)
                                     (password (crypt "password" "$6$abc"))))
                 %base-user-accounts))
  (services (append (list (service dhcp-client-service-type)
                          (service openssh-service-type
                                   (openssh-configuration
                                    (permit-root-login #t)
                                    (password-authentication? #t))))
                    %base-services))
  (sudoers-file (plain-file "sudoers" "\
root ALL=(ALL) ALL
user ALL=(ALL) NOPASSWD: ALL\n")))
