(use-modules (gnu))
(use-service-modules networking linux ssh)
(use-package-modules certs curl linux tmux)

(operating-system
  (host-name "gnu")
  (timezone "Europe/Moscow")
  (locale "en_US.utf8")
  (bootloader (bootloader-configuration
                (bootloader grub-bootloader)
                (target "/dev/vda")))
  (mapped-devices (list (mapped-device
                         (source "vg0")
                         (targets '("vg0-guix"))
                         (type lvm-device-mapping))))
  (file-systems (append (list (file-system
                                (device "/dev/mapper/vg0-guix")
                                (mount-point "/")
                                (dependencies mapped-devices)
                                (type "ext4")))
                        %base-file-systems))
  (users (append (list (user-account
                        (name "user")
                        (comment "Unprivileged user")
                        (group "users")
                        (supplementary-groups '("wheel" "audio" "video"))
                        (password (crypt "password" "$6$abc")))
                       (user-account (inherit %root-account)
                                     (password (crypt "password" "$6$abc"))))
                 %base-user-accounts))
  (packages (append (list curl nss-certs lvm2 tmux)
                    %base-packages))
  (services (append (list (service dhcp-client-service-type)
                          (service openssh-service-type
                                   (openssh-configuration
                                    (permit-root-login #t)
                                    (password-authentication? #t)))
                          (service kernel-module-loader-service-type
                                   '("dm-snapshot" "dm-thin-pool")))
                    (modify-services %base-services
                      (guix-service-type config => (guix-configuration
                                                    (substitute-urls '("https://ci.guix.gnu.org"
                                                                       "https://guix.wugi.info"))
                                                    (authorized-keys (append (list (plain-file "guix.wugi.info.pub" "\
(public-key
 (ecc
  (curve Ed25519)
  (q #45BD5CF39730F811FCFDEBB3FA30277DCA7D443430264FB6D48DCEEFE2E23CF5#)
  )
 )
"))
                                                                             %default-authorized-guix-keys)))))))
  (sudoers-file (plain-file "sudoers" "\
root ALL=(ALL) ALL
user ALL=(ALL) NOPASSWD: ALL\n")))
