[user]
	email = go.wigust@gmail.com
	name = Oleg Pykhalov
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = go.wigust@gmail.com
	smtpServerPort = 587
	assume8bitEncoding = UTF-8
[commit]
	gpgsign = true
[user]
	signingkey = 7246E11C69B79569
[url "https://github.com/"]
	insteadOf = git@github.com:
[alias]
	branches-by-date = for-each-ref --sort=-committerdate refs/heads
        contributers = shortlog -sne
        ll= log --format='%H %ae %cI %s'