! https://wiki.archlinux.org/index.php/Xterm

! 
! XTerm

XTerm.vt100.foreground: black
XTerm.vt100.background: white

XTerm*color0:  #000000
XTerm*color8:  #686868
! red
XTerm*color1:  #B21818
XTerm*color9:  #FF5454
! green
XTerm*color2:  #66CD00
XTerm*color10: #54FF54
! yellow
XTerm*color3:  #B26818
XTerm*color11: #EEC900
! blue
XTerm*color4:  #1818B2
XTerm*color12: #5454FF
! purple
XTerm*color5:  #B218B2
XTerm*color13: #FF54FF
! cyan
XTerm*color6:  #18B2B2
XTerm*color14: #54FFFF
! white
XTerm*color7:  #B2B2B2
XTerm*color15: #FFFFFF

XTerm.vt100.scrollBar: false
XTerm.vt100.cursorBlink: true

XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: Monospace:size=14:antialias=true
XTerm.vt100.metaSendsEscape: true

! Fix <C-h> in Emacs
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! Allow xterm to report the TERM variable correctly.  Do not set the
! TERM variable from your ~/.bashrc or ~/.bash_profile or similar
! file.  The terminal itself should report the correct TERM to the
! system so that the proper terminfo file will be used.  Two usable
! terminfo names are xterm and xterm-256color
XTerm.termName: xterm-256color

! Clipboard instead primary
! XTerm.vt100.selectToClipboard: true

! Inspired by:   https://www.gnu.org/software/emacs/manual/html_node/emacs/Fonts.html#Fonts
! Get code from: https://www.emacswiki.org/emacs/XftGnuEmacs
Emacs.FontBackend: xft
Emacs.font: Monospace-14

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT font menu: Tiny
XTerm*faceSize2: 10
! VT font menu: Medium
XTerm*faceSize3: 12
! VT font menu: Large
XTerm*faceSize4: 16
! VT font menu: Huge
XTerm*faceSize5: 22

! https://snarfed.org/emacs_x_resources
! Emacs.menuBar: off
! Emacs.verticalScrollBars: off
Emacs.toolBar: off

! (emacs) Table of Resources
! Emacs.cursorBlink: off

! Origins <http://invisible-island.net/xterm/manpage/xterm.html#h3-Custom-Key-Bindings>,
! <https://unix.stackexchange.com/a/277960>, XTERM(1).
! XTerm.vt100.translations: #override \n\
  ! Meta <KeyPress> /: dabbrev-expand()

! Origin <https://raw.githubusercontent.com/gotbletu/shownotes/master/xterm_xresources.md>.
! Disable fullscreen hotkey M-RET.  Hotkey conflicts with Weechat,
! Midnight Commander, Emacs.
XTerm*fullscreen: never

! * Triple click it to select a URL and <S-down-mouse-1> to open a URL.
! XTerm.vt100.translations: #override Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]

! Origin <https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/>.
! Double-click to select URLs.
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
