name: mjru
parent: default

matches:
  # Simple text replacement
  - trigger: ":mjru-phone"
    replace: "{{ .work.phone }}"
  - trigger: ":mjru-email"
    replace: "{{ .work.email }}"
  - trigger: ":php"
    replace: "apache2-php{44,{52..55},{70..74}}"
  - trigger: "web..."
    replace: "web15 web16 web17 web18 web19 web20 web21 web22 web23 web24 web25 web26 web27 web28 web29 web30 web31 web32 web33 web34 web35 web36 web37"
