# -*- mode: snippet -*-
# name: hdd
# key: hdd
# --
ООО Хостинг замена диска

Здравствуйте.

Найдите, пожалуйста, в нашем резерве диск ${1:Samsung SSD 860 PRO 256} ${2:s/n JXXY8REN}, затем замените его в сервере номер ${3:01} в стойке ${4:01-02-03} ${5:APKQ/APKR} (возможно присутствует бирка ${6:kvm15}) на отмеченный индикацией диск ${7:(наиболее вероятное расположение диска крайняя левая корзина)}.  При отсутствии индикации или возникновении других вопросов, свяжитесь с нами по телефону {{ .work.phone }}.

После замены диска включите сервер, а извлеченный диск отправьте в наш резерв с пометкой "bad $6".