# -*- mode: snippet -*-
# name: hdd
# key: hdd
# --
Здравствуйте.

Найдите, пожалуйста, в нашем резерве диск ${1:модель (e.g HUS156030VLS600)}, серийный номер ${2:s/n (e.g. JXXY8REN)} и подготовьте его для замены (возможно диск имеет отметку ${3:бирка-сервера (e.g kvm38)})

Затем выключите сервер номер ${4:номер-сервера-в-датацентре (e.g. server)} (ID: ${5:id-сервера (e.g AOZT)}) в стойке ${6:стойка (e.g 01-01-16)} (бирка ${7:бирка-сервера (e.g kvm38)}) и замените диск с серийным номером ${8:старый-диск (e.g LVX81RKN)}.
# (наиболее вероятное расположение диска - крайняя левая верхняя корзина).
После замены диска включите сервер, а извлеченный диск отправьте в наш резерв с пометкой "bad $7".
При возникновении каких-либо вопросов, свяжитесь с нами по телефону {{ .work.phone }}.