[Install]
WantedBy=default.target

[Service]
ExecStart=/bin/sh -c 'DISPLAY=:0 XDG_RUNTIME_DIR=/mnt/guix/run/user/1000 WAYLAND_DISPLAY=wayland-1 exec -a foot /usr/bin/foot'
Type=simple

[Unit]
Description=Foot terminal
