apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tinkerbell
resources:
- namespace.yaml
- release.yaml
configMapGenerator:
- name: tinkerbell-values
  files:
  - values.yaml=values.yaml
configurations:
- kustomizeconfig.yaml
