set realname = "i18n.wugi"
set from = i18n.wugi@yandex.ru
set use_from = yes
set imap_user = i18n.wugi@yandex.ru
set imap_pass = {{ pass "email/yandex.ru/i18n.wugi" }}
set smtp_url = smtp://smtp.yandex.ru:465/
set smtp_pass = {{ pass "email/yandex.ru/i18n.wugi" }}
set smtp_authenticators = 'login'
set ssl_starttls = yes
set ssl_force_tls = yes
set folder = imaps://imap.yandex.ru:993
set spoolfile = +INBOX
set record = =Отправленные
