! https://wiki.archlinux.org/index.php/Xterm

! 
! XTerm

XTerm.vt100.foreground: white
XTerm.vt100.background: black

XTerm*color0:  #000000
XTerm*color8:  #686868
! red
XTerm*color1:  #B21818
XTerm*color9:  #FF5454
! green
XTerm*color2:  #66CD00
XTerm*color10: #54FF54
! yellow
XTerm*color3:  #B26818
XTerm*color11: #EEC900
! blue
XTerm*color4:  #1818B2
XTerm*color12: #5454FF
! purple
XTerm*color5:  #B218B2
XTerm*color13: #FF54FF
! cyan
XTerm*color6:  #18B2B2
XTerm*color14: #54FFFF
! white
XTerm*color7:  #B2B2B2
XTerm*color15: #FFFFFF

XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: Monospace:size=14:antialias=true
XTerm.vt100.metaSendsEscape: true

! Fix <C-h> in Emacs
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! Clipboard instead primary
XTerm.vt100.selectToClipboard: true

! Inspired by:   https://www.gnu.org/software/emacs/manual/html_node/emacs/Fonts.html#Fonts
! Get code from: https://www.emacswiki.org/emacs/XftGnuEmacs
Emacs.FontBackend: xft
Emacs.font: Monospace-14

! https://snarfed.org/emacs_x_resources
! Emacs.menuBar: off
Emacs.verticalScrollBars: off
Emacs.toolBar: off

! (emacs) Table of Resources
Emacs.cursorBlink: off
