CLUSTER_NAME="cluster2"
export CLUSTER_NAME

CLUSTER_ADDRESS="https://192.168.25.1"
export CLUSTER_ADDRESS

CLUSTER_PORT="32379"
export CLUSTER_PORT

KUBECONFIG=/home/oleg/.kube/config-host1-k3s
export KUBECONFIG

cat <<'EOF'
kubectl -n kube-system delete secrets cilium-secret-values
kubectl -n kube-system delete secrets cilium-ca clustermesh-apiserver-admin-cert clustermesh-apiserver-client-cert clustermesh-apiserver-remote-cert clustermesh-apiserver-server-cert
kubectl -n kube-system delete secrets cilium-clustermesh
/home/oleg/.local/share/chezmoi/infrastructure/base/cilium/cert.sh
kubectl create -f secret-cilium-secret-values.yaml
EOF
