[Install]
WantedBy=default.target

[Service]
ExecStart=/bin/sh -c 'DISPLAY=:0 XDG_RUNTIME_DIR=/mnt/guix/run/user/1000 WAYLAND_DISPLAY=wayland-1 _JAVA_AWT_WM_NONREPARENTING=1 exec -a idea /usr/bin/pycharm'
Type=simple

[Unit]
Description=IDEA
