{
    "host": "imap.gmail.com",
    "hostCmd": "",
    "port": 993,
    "tls": true,
    "tlsOptions": {
        "rejectUnauthorized": true
    },
    "username": "go.wigust@gmail.com",
    "usernameCmd": "",
    "password": "{{ pass "email/gmail/go.wigust" }}",
    "passwordCmd": "",
    "xoauth2": false,
    "onNewMail": "/run/current-system/profile/bin/timeout 60 /home/oleg/.guix-profile/bin/mbsync -a gmail && /home/oleg/.guix-profile/bin/notify-send --urgency=low 'gmail: New mail.'",
    "onNewMailPost": "",
    "boxes": [
        "INBOX"
    ]
}
