{
    "host": "imap.majordomo.ru",
    "hostCmd": "",
    "port": 993,
    "tls": true,
    "tlsOptions": {
        "rejectUnauthorized": true
    },
    "username": "pyhalov@majordomo.ru",
    "usernameCmd": "",
    "password": "{{ pass "majordomo/private/newmail.majordomo.ru/pyhalov@majordomo.ru" }}",
    "passwordCmd": "",
    "xoauth2": false,
    "onNewMail": "/run/current-system/profile/bin/timeout 60 /home/oleg/.guix-profile/bin/mbsync -a majordomo && /home/oleg/.guix-profile/bin/notify-send 'majordomo: New mail.'",
    "onNewMailPost": "",
    "boxes": [
        "INBOX"
    ]
}
