#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

global
    log stdout local2 debug
    pidfile /run/haproxy.pid
    maxconn 90000
    no strict-limits

defaults
    mode tcp
    log global
    option dontlognull
    timeout check 30s
    maxconn 90000

# This server group is used for final users.
# Each server should point at one foreign Internet address
# SOCKS5 is accepted
listen shadowsocks_turnup
    bind 0.0.0.0:1080
    mode tcp
    option tcp-check
    balance roundrobin
    timeout server 600000
    timeout client 600000
    timeout connect 30000
    server vnet-0 172.16.115.5:22

listen kubernetes_ingress
    bind 192.168.25.2:443
    mode tcp
    option tcp-check
    balance roundrobin
    timeout server 600000
    timeout client 600000
    timeout connect 30000
    server kubernetes-ingress-0 192.168.0.139:443

listen monitor_mgmt
    mode http
    bind 127.0.1.1:3389
    stats enable
    stats admin if TRUE
    stats uri /
